*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    background-color: rgb(232, 238, 238);
}

.navbar .gmail{
    background-color: rgb(230, 244, 244);
    display: flex;
    padding: 10px;
    position: relative;
    font-weight: 100;
    color: rgb(32, 31, 31);
    left: 150px;
}

.fa-envelope{
    color: rgb(94, 173, 234);
    display: flex;
    
}

.fa-eye{
    color: rgb(94, 173, 234);
    display: flex;
    position: relative;
}

.fa-bullseye{
    color: rgb(94, 173, 234);
    display: flex;
    position: relative;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar .mobile{
    background-color: rgb(230, 244, 244);
    display: flex;
    padding: 10px;
    position: relative;
    font-weight: 100;
    color: rgb(32, 31, 31);
    left: 215px;
}

.fa-phone{
    color: rgb(94, 173, 234);
    
}

.biogen{
    display: flex;
    background-color: rgb(249, 253, 253);
}

.biogen p{
    color: black;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-transform: capitalize;
    gap: 0px;
    position: relative;
    left: 150px;
    top: 30px;
    display: flex;

}
.cont{
    display: flex;
    list-style: none;
    gap: 20px;
    position: relative;
}
.cont li{
    left: 450px;
    top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    width: 120px;
    height: 70px;
    padding: 30px 10px;
    font-size: 30px;

}

.cont .home{
    top: 9px;
    left: 375px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-transform: uppercase;
}

.cont .about{
    top: 9px;
    left: 385px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-transform: uppercase;
}

.cont .products{
    top: 9px;
    left: 395PX;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-transform: uppercase;
}

.cont .brands{
    top: 9px;
    left: 405px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-transform: uppercase;
}

.cont .enquiry{
    top: 9px;
    left: 415px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-transform: uppercase;
}

.cont .contact{
    top: 9px;
    left: 425px;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-transform: uppercase;
}

.img1{
    margin-top: 0px;
    width: 1375px;
    height: 400px;
}

.biogen{
    display: flex;
}

.abbio{
    width: 200px;
    
}

.vision{
           width: 200px;
   }

.mission{
       width: 200px;
}

.head{
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(144, 183, 228);
    margin-top: 50px;
    margin-bottom: 30px;

}

.para{
    text-align: justify;
    display: flex;
}

.display{
    display: flex;
}
